---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

.markdown-content {
    blockquote {
      color: $brand-color;
      border-left: 4px solid $brand-color-light;
      padding-left: $spacing-unit / 2;
      @include relative-font-size(0.95);

      > :last-child {
        margin-bottom: 0;
      }

      i, em {
        font-style: normal;
      }
    }
}
