#copyButton, #helpMessage {
    -fx-text-fill: #596D8F;
}

#copyButton {
    -fx-background-color: white;
}

#copyButton:hover {
    -fx-background-color: #CED3EC;
}

#copyButton:armed {
    -fx-background-color: white;
}

#helpMessageContainer {
    -fx-background-color: white;
}
